// Variables
// ===
//
// - Names should be lowercase and dash-separated;
// - Related variables should add qualifiers at the beginning: use
//   `$small-font-size`, not `$font-size-small`;
// - Numeric scales should use increments of 10; these numbers are arbitrary and
//   should not map to actual values. If really necessary, additional values can
//   be added in between, e.g. $neutral-15 between 10 and 20.


// Layout
// ---

// Basic unit for spacing and alignment of elements. Suggested value: 6 to 12px.
// Apply in whole or half multiples.
$unit: 10px !default;

// Standard tap-target size
$tap-size: 45px !default;


// Typography
// ---

$font-family: 'Helvetica Neue', 'Roboto', sans-serif !default;
$font-size: 14px !default;
$line-height: 20px !default;


// Color palette
// ---

$neutral-30: #e8e8e8 !default; // Background shade
$neutral-40: #bbb !default; // Borders
$neutral-50: #888 !default; // Icons & placeholder text
$neutral-60: #555 !default; // Light text
$neutral-70: #333 !default; // Text

$accent-color: #3498db !default; // Link & focus color
$success-color: #27ae60 !default;
$error-color: #c0392b !default;


// Appearance
// ---

$border-color: $neutral-40 !default;
$border-radius: 0 !default;
// $input-border-color: $neutral-40 !default;
// $input-background-color: #fff !default;
$input-horizontal-padding: $unit;
$input-vertical-padding: $unit;


// Layer (z-index)
// ---

// $layer-10: 1 !default;
// $layer-20: 10 !default;
// $layer-30: 100 !default;
// $layer-40: 1000 !default;
